<nav class="navbar navbar-dark bg-dark">
  <div>
    <a class="navbar-brand" routerLink="/" style="margin-left: 1rem">
      <img src="assets/blockchain.svg" width="40px" height="40px">
      simple-blockchain
    </a>
  </div>

  <div>
    <button [routerLink]="['/search']" class="btn btn-outline-light " style="margin-right: .5rem">
      Search
    </button>
    <button [routerLink]="['/settings']" class="btn btn-outline-light " style="margin-right: 1rem">
      Settings
    </button>
  </div>
</nav>
